<div class="container">
  <mat-card>
    <form [formGroup]="irregularidadeForm">
      <mat-card-content>
        <ng-container>
          <!-- @if(typeForm() !== 'edit'){ -->
          <mat-toolbar class="background-toolbar" id="peso-fonte"
            >Adicionar Irregularidade</mat-toolbar
          >

          <!-- }@else {
          <mat-toolbar class="background-toolbar" id="peso-fonte"
            >Alterar Irregularidade</mat-toolbar
          >} -->
        </ng-container>

        <div class="linha1">
          <!-- @if(typeForm() !== 'edit'){ -->
          <mat-form-field class="numero">
            <mat-label style="font-size: 14px;">Número</mat-label>
            <input
              matInput
              placeholder="Número"
              formControlName="numeroIrregularidade"
              tabindex="1"
              id="numeroNotificacao"
              readonly="true"
              class="small-placeholder"
            />
          </mat-form-field>

          <mat-form-field class="data">
            <mat-label style="font-size: 14px;">Data</mat-label>
            <input
              matInput
              placeholder="Data* (dd/mm/aaaa)"
              type="text"
              mask="d0/M0/0000"
              [dropSpecialCharacters]="false"
              formControlName="dataIrregularidade"
              tabindex="2"
              required="true"
              class="small-placeholder"
            />
          </mat-form-field>
          <mat-form-field class="hora">
            <mat-label style="font-size: 14px;">Hora</mat-label>
            <input
              type="text"
              matInput
              placeholder="Hora*"
              formControlName="horario"
              mask="Hh:m0"
              [dropSpecialCharacters]="false"
              tabindex="3"
              class="small-placeholder"
            />
          </mat-form-field>
          <mat-form-field class="matriculaAgente">
            <mat-label style="font-size: 14px;">Mat. Agente</mat-label>
            <input
              matInput
              placeholder="Mat. Agente*"
              formControlName="matriculaAgente"
              maxlength="4"
              tabindex="4"
              (blur)="validarAgente()"
              class="small-placeholder"
            />
          </mat-form-field>
          <mat-form-field class="nomeAgente">
            <mat-label style="font-size: 14px;">Nome do Agente*</mat-label>
            <input
              matInput
              placeholder="Nome do Agente*"
              readonly="true"
              value="{{ agenteValidacao }}"
              tabindex="-1"
              [ngStyle]="{ color: condicaoValidacaoAgente ? 'black' : 'red' }"
              class="small-placeholder"
            />
          </mat-form-field>
        </div>

        <div class="linha2">
          <mat-form-field class="local">
            <mat-label style="font-size: 14px;">Local</mat-label>
            <input
              matInput
              placeholder="Local*"
              formControlName="local"
              tabindex="5"
              class="small-placeholder"
            />
          </mat-form-field>
          <mat-form-field class="numeroLocal">
            <mat-label style="font-size: 14px;">Nº</mat-label>
            <input
              matInput
              placeholder="Nº"
              formControlName="numeroLocal"
              tabindex="6"
              class="small-placeholder"
            />
          </mat-form-field>
          <mat-form-field class="bairro">
            <mat-label style="font-size: 14px;">Bairro</mat-label>
            <input
              matInput
              placeholder="Bairro"
              formControlName="bairro"
              tabindex="7"
              class="small-placeholder"
            />
          </mat-form-field>
        </div>

        <div class="linha3">
          <mat-form-field class="numeroLinha">
            <mat-label style="font-size: 14px;">Nº Linha</mat-label>
            <input
              matInput
              placeholder="Nº Linha*"
              formControlName="numeroLinha"
              tabindex="8"
              (blur)="validarLinha()"
              class="small-placeholder"
            />
          </mat-form-field>
          <mat-form-field class="full-width">
            <mat-label style="font-size: 14px;">Nome da linha*</mat-label>
            <input
              matInput
              readonly="true"
              value="{{ linhaValidacao }}"
              tabindex="-1"
              [ngStyle]="{ color: condicaoValidacaoLinha ? 'black' : 'red' }"
            />
          </mat-form-field>
        </div>

        <div class="linha4">
          <mat-form-field class="infracao">
            <mat-label style="font-size: 14px;">Cód. Infração</mat-label>
            <input
              matInput
              placeholder="Cód. Infração*"
              formControlName="codigoInfracao"
              tabindex="9"
              (blur)="validarInfracao()"
              class="small-placeholder"
            />
          </mat-form-field>
          <mat-form-field class="full-width">
            <mat-label style="font-size: 14px;">Descrição da infração*</mat-label>
            <input
              matInput
              readonly="true"
              value="{{ infracaoValidacao }}"
              tabindex="-1"
              [ngStyle]="{ color: condicaoValidacaoInfracao ? 'black' : 'red' }"
            />
          </mat-form-field>
        </div>
        <div class="linha5">
          <mat-form-field class="larguraMaxima">
            <mat-label style="font-size: 14px;">Observações</mat-label>
            <input
              matInput
              placeholder="Observações"
              formControlName="descricao"
              tabindex="10"
              class="small-placeholder"
            />
          </mat-form-field>
        </div>
        <div class="linha6">
          <mat-form-field class="numeroVeiculo">
            <mat-label style="font-size: 14px;">Nº Veículo</mat-label>
            <input
              matInput
              placeholder="Nº Veiculo*"
              formControlName="numeroVeiculo"
              tabindex="11"
              (blur)="validarVeiculo()"
              class="small-placeholder"
            />
          </mat-form-field>
          <mat-form-field class="full-width">
            <mat-label style="font-size: 14px;">Placa do veículo*</mat-label>
            <input
              matInput
              readonly="true"
              value="{{ veiculoValidacao }}"
              tabindex="-1"
              [ngStyle]="{ color: condicaoValidacaoVeiculo ? 'black' : 'red' }"
            />
          </mat-form-field>
          <mat-form-field class="full-width">
            <mat-label style="font-size: 14px;">Consórcio*</mat-label>
            <input
              matInput
              readonly="true"
              value="{{ consorcioValidacao }}"
              tabindex="-1"
              [ngStyle]="{ color: condicaoValidacaoVeiculo ? 'black' : 'red' }"
            />
          </mat-form-field>
        </div>

        <!-- <div class="linha7">
          <mat-form-field class="consorcio">
            <input
              matInput
              placeholder="Nº Consórcio"
              formControlName="numeroConsorcio"
              tabindex="12"
              (blur)="validarConsorcio()"
            />
          </mat-form-field>
          <mat-form-field class="full-width">
            <mat-label>Nome do consorcio</mat-label>
            <input
              matInput
              readonly="true"
              value="{{ consorcioValidacao }}"
              tabindex="-1"
              [ngStyle]="{
                color: condicaoValidacaoConsorcio ? 'black' : 'red'
              }"
            />
          </mat-form-field>
        </div> -->

        <div class="linha8">
          <mat-form-field class="matAgenteConferente">
            <mat-label style="font-size: 14px;">Mat. agente conferente</mat-label>
            <input
              matInput
              placeholder="Mat. agente conferente"
              formControlName="matAgenteConferente"
              tabindex="13"
              class="small-placeholder"
            />
          </mat-form-field>
          <mat-form-field class="dataEmissao">
            <mat-label style="font-size: 14px;">Data Emissão (dd/mm/aaaa)</mat-label>
            <input
              matInput
              placeholder="Data Emissão (dd/mm/aaaa)"
              formControlName="dataEmissao"
              tabindex="14"
              mask="d0/M0/0000"
              [dropSpecialCharacters]="false"
              class="small-placeholder"
            />
          </mat-form-field>
          <mat-form-field class="dataConferencia">
            <mat-label style="font-size: 14px;">Prazo para cumprimento (dd/mm/aaaa)</mat-label>
            <input
              matInput
              placeholder="Prazo para cumprimento* (dd/mm/aaaa)"
              formControlName="prazoCumprimentoConferencia"
              tabindex="15"
              mask="d0/M0/0000"
              [dropSpecialCharacters]="false"
              required="true"
              class="small-placeholder"
            />
          </mat-form-field>
        </div>
      </mat-card-content>

      <mat-card-actions>
        <ng-container>
          @if(irregularidadeForm.valid){
          <button
            type="button"
            id="button-salvar"
            (click)="onNew()"
            mat-raised-button
          >
            Salvar</button
          >}@else{}

          <button type="button" mat-raised-button (click)="voltar()">
            Cancelar
          </button>
          <p>Os campos com asterisco (*) são obrigatórios.</p>
        </ng-container>
      </mat-card-actions>
    </form>
  </mat-card>
</div>
